* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    /* height: 100vh;
    background: linear-gradient(to right, #667eea, #764ba2); */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: white;
    color: #764ba2;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

form button {
    background: #667eea;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
h1 {
    
    position: relative;
    transition: transform 0.1s ease;
}
h1:hover {
    transform: scale(1.05);
}
body{
   padding-top: 40% ;
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    background-image: url("151f2310-16c5-4061-9ff2-1e61b3e9091b.png");
}
